﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Its_Spacyy</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
</head>

<header>
	<nav class="navbar navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-light bg-light fixed-top">
  <a class="navbar-brand" asp-page="/Index">
		<img class="img-fluid" src="/images/finalLogo.png" alt="It's Spacyy" width="60px"/>
	</a>
	<div align=center>
    <br>
    <h2>We share <img src="https://www.asiamarket.ie/pub/media/amasty/amlabel/icon-spicy.png" height="60"> News About <img src="/images/logomoose-space.png" height="50"></h2>
	</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
		<!-- div permettant de "pousser" le tableau nav à droite -->
  </div>
	<ul class="navbar-nav mr-auto">
		<li class="nav-item">
			<a class="nav-link" asp-page="/CelestialBody">Celestial Bodies</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-page="/CelestStar">Daily Top</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-page="/About">About Us</a>
		</li>
	</ul>
	</nav>
</header>
<body style="	padding-top:150px;">
  <div class="container">
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
  </div>
	@RenderSection("Scripts", required: false)
</body>
</html>
