﻿@page //indique que c'est une page razor
@model Its_Spacyy.Pages.AboutModel
@{
  ViewData["Title"] = "About Us"; //donne un titre à la page
}

<section id="main">
	<h1>A little bit about It's Spacyy</h1>

	<h5>
		It's Spacyy was found in November 2018 by a Space enthusiast. Her moto is "Sharing Spicy News About Space". She lives in France and studies computer science. 
		<br><br>
		She discovered Astronomy in primary school in her first science class about the Moon. She then fell in love with anything and everything about space. Dreaming about becoming an astronaut and driving a vehicule on the Mars surface.
		<br><br>
		She shares space related content on her instagram page <a href="https://www.instagram.com/itsspacyy/">ItsSpacyy</a>. You can be up to date on any space news by following her instagram.
		<br><br>
		This website was created for a school project. The goal was to develop a website using the programming language C#. We also had to query data on DBpedia using SPARQL.
		<br>
		<br>
		<i>If you have any question / feedback on this project, you can contact me on my instagram account <a href="https://www.instagram.com/itsspacyy/">ItsSpacyy</a></i>. 
		
	</h5>


</section> 
