﻿@page
@using Its_Spacyy.Pages
@model Its_Spacyy.Pages.CelestStarModel
@{
  ViewData["Title"] = "Stars of the day";
} 

<div align=center>
	<h3 style="background-color:blue; border: 5px dashed #1C6EA4; border-radius: 40px;">
		Our TOP 3 Celestial Bodies of the day !
	</h3>
</div>
<br>

@{
	int i=0;
	foreach (var item in Model.TodayStars) {
		i++;
		if (i%2==0) {
			<div class="row align-items-center">
				<div class="col-3">
					<img class="img-fluid d-felx" src="@item.Picture" alt="Image non disponible"/>
				</div>
				<div class="col-7">
					<h2>@item.Name</h2><h6>Discovered on @item.Discovered by <a class="navbar-brand" asp-page="/Discoverer" asp-route-name=@item.Name.Replace(" ","_")>@item.Discoverer</a></h6>
					<br> <h5>Description :</h5>
					<p>@item.Abstract</p>
				</div>
				<div class="col-2">
					<br> <h5>More informations :</h5>
					<br> <h6>Absolute Magnitude : </h6> @item.AbsoluteMagnitude
					<br> <h6>Apoapsis : </h6> @item.Apoapsis
					<br> <h6>Periapsis : </h6> $@item.Periapsis
				</div>
			</div>
		} else {
			<div class="row align-items-center">
				<div class="col-7">
					<h2>@item.Name</h2><h6>Discovered on @item.Discovered by <a class="navbar-brand" asp-page="/Discoverer" asp-route-name=@item.Name.Replace(" ","_")>@item.Discoverer</a></h6>
					<br> <h5>Description :</h5>
					<p>@item.Abstract</p>
				</div>
				<div class="col-2">
					<br> <h5>More informations :</h5>
					<p>Absolute Magnitude : @item.AbsoluteMagnitude
					<p>Apoapsis : @item.Apoapsis
					<p>Periapsis : @item.Periapsis
				</div>
				<div class="col-3">
					<img class="img-fluid" src="@item.Picture" alt="Image non disponible"/>
				</div>
			</div>
		}
		<br><br><br><br>
	}
}