﻿@page
@model Its_Spacyy.Pages.DiscovererModel
@using Its_Spacyy.Models;
@{
	ViewData["Title"] = "Celestial Body";
}

<div align=center>
	<h3 style="background-color:blue; border: 5px dashed #1C6EA4; border-radius: 40px;">
		The Discoverer's Page
	</h3>
</div>

@{
	var obj = Model.TheOne;
	<div class="row align-items-center">
		<div class="col-8">
			<h2>@obj.Name </h2>
			<br> <h5>Description :</h5>
			<p>@obj.Abstract</p>
		</div>
		<div class="col-4">
			<h5>More informations :</h5>
			<p> <h6>Birth Date : @obj.BirthDate
			<p> <h6>Birth Place : @obj.BirthPlace
			@if(obj.DeathDate != "Error") {
				<p> <h6>Death Date : @obj.DeathDate</p>
			} 
		</div>
	</div>
}
<br><br>
<div class="row">
	<h2> Discovered Bodies :</h2><br>
	@{
		int i=0;
		foreach (var item in obj.Bodies) {
			i++;
			if (i%2==0) {
				<div class="row align-items-center">
					<div class="col-3">
						<img class="img-fluid" src="@item.Picture" alt="Image non disponible"/>
					</div>
					<div class="col-7">
						<h2>@item.Name</h2><h6>Discovered on @item.Discovered by <a class="navbar-brand" asp-page="/Discoverer" asp-route-name=@item.Name.Replace(" ","_")> @item.Discoverer</a></h6>
						<br> <h5>Description :</h5>
						<p>@item.Abstract</p>
					</div>
					<div class="col-2">
						<h5>More informations :</h5>
						<p> <h6>Absolute Magnitude : </h6> @item.AbsoluteMagnitude
						<p> <h6>Apoapsis : </h6> @item.Apoapsis
						<p> <h6>Periapsis : </h6> $@item.Periapsis
					</div>
				</div>
			} else {
				<div class="row align-items-center">
					<div class="col-7">
						<h2>@item.Name</h2><h6>Discovered on @item.Discovered by <a class="navbar-brand" asp-page="/Discoverer" asp-route-name=@item.Name.Replace(" ","_")>@item.Discoverer</a></h6>
						<br> <h5>Description :</h5>
						<p>@item.Abstract</p>
					</div>
					<div class="col-2">
						<h5>More informations :</h5>
						<p>Absolute Magnitude : @item.AbsoluteMagnitude
						<p>Apoapsis : @item.Apoapsis
						<p>Periapsis : @item.Periapsis
					</div>
					<div class="col-3">
						<img class="img-fluid" src="@item.Picture" alt="Image non disponible"/>
					</div>
				</div>
			}
			<br><br><br><br>
		}
	}
</div>
