﻿@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div align=center>
	<h3 style="background-color:blue; border: 5px dashed #1C6EA4; border-radius: 40px;">TOPIC OF THE WEEK</h3>
	<div style="background-color:rgba(0, 0, 255, 0.2);border: 6px groove #1C6EA4; border-radius: 26px;">
		<br>
		<h3>Ever wondered what is a</h3>
		<img src="https://www.celestialbody.nl/wp-content/uploads/2019/01/logo-Celestialbody-new.png" height="92" width="302"> 
		<p style="font-size:25px">An astronomical object or celestial object is a naturally occurring physical entity, association, or structure that exists in the observable universe.
		<br><br>
		Examples of astronomical objects include : 
		<br> planetary systems, star clusters, nebulae, and galaxies, 
		<br>while asteroids, moons, planets, and stars are astronomical bodies. 
		<h3>Look at the TOP 3 celestial objets of the day !</h3>
		<br>
		<a asp-page="/CelestStar" class="myButton" style="background-color:blue; border: 5px solid #1C6EA4; border-radius: 40px;padding:12px 37px; padding-top:12px; color:white;">Click here</a>
	</div>
</div>
<style>
       
</style>   